*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "lato",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 20px;
}

.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom,rgba(121, 199, 209,0.8),rgba(145, 177, 80,0.8)),url(img/vote.jpg );
    background-size: cover;
    background-position: center;
    position: relative;

    clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
}
.logo-box{
    position: absolute;
    top: 20px;
    left: 20px;
}
.logo{
    height: 100px;
}

.text-box{
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.heading-primary{
    color:rgba(92, 15, 15,0.8);
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 60px;
}
.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px ;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    
    /* animation-delay: 2s; */
}
.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    /* animation-delay: 2s; */
    

}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTop{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
btn:visited{
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    animation: moveInBottom 2s ease-in-out 1s;
}
.btn-sub{
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    animation: moveInTop 2s ease-in-out 2s;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.btn-sub:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.btn-sub:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-white{
    background-color: #fff;
    color: #777;
}